<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navegador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/navegador.css">
</head>

<body>
    <div class="barra-super">
        <p style="color:white;font-size:10pt;">Sistema finançeiro 1.0.1</p>
    </div>
    <div>
        <button class="fa fa-arrow-left fa-2x" title="Retornar"></button>
    </div>
    <iframe src="https://www.infomoney.com.br/ferramentas/cambio/" name="frm_navegador" frameborder="0"></iframe>










    <script src="https://use.fontawesome.com/9b221fd506.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="../js/jquery-3.6.0.js"></script>
    <script src="../src/navegador.js" type="text/javascript"></script>
</body>

</html>